doctype html
html(lang="en")
	head
		meta(charset="utf08")
		title GW2 Gear Optimizer
		link(rel='stylesheet', href='css/vendor.css')
		link(rel='stylesheet', href='css/main.css')
	body
		#app

		script(src='js/vendor.bundle.js')
		script(src='js/bundle.js')